# This is a basic workflow to help you get started with Actions

name: test-branch

on:
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    env:
      BRNCH_NAME: Auto-${{ github.run_id }}

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
        with:
          token: ${{ secrets.My_SP_KEY }}

      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: |
          echo 'hello world-${{env.BRNCH_NAME}}' > abc.txt
          git config --global user.email "bilal.shahzad@yahoo.com"
          git config --global user.name "Bilal Shahzad"
          git checkout -b ${{env.BRNCH_NAME}} main && git branch -a
          git add .
          git commit -m "testing"
          git push --set-upstream origin ${{env.BRNCH_NAME}}
                    
      - name: pull-request
        id: open-pr
        uses: repo-sync/pull-request@v2        
        with:
          source_branch: ${{env.BRNCH_NAME}}
          destination_branch: "main"
          github_token: ${{ secrets.GITHUB_TOKEN }}
          pr_label: "feature, automated pr"
          pr_title: "[Example] Simple demo"
      
      - name: Enable Auto Merge
        run: |
          echo ${{ secrets.GITHUB_TOKEN }} > myghtoken.txt
          gh auth login --with-token < myghtoken.txt
          gh pr merge ${{steps.open-pr.outputs.pr_number}} --auto
     


